body {
        font-family: sans-serif;
        color: #18A6ED;
}

#wrapper {
    margin: 0 auto;
    position: relative;
}

#container {
        box-sizing: border-box;
        width: 320px;
        padding: 20px;
        overflow: hidden;
        background: #fff;
}

#cartridge {
    /*height: 200px;*/
    width: 2000px;
    overflow: hidden;
    position: relative;
}

nav {
	text-align: center;
}
nav ul {
	padding-left: 0;
	width: 320px;
	list-style: none;
}
nav ul li {
	display: inline-block;
	margin-right: 10px;
}

a {
	color: #187FED;
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.active {
	text-decoration: underline;
}

#container dl {
    margin: 0 auto;
    padding-left: 0;
    margin-left: 0;
}

dt {
    line-height: 30px;
    font-weight: bold;
}

dd {
    color: #000;
    width: 250px;
}

.menu {
    box-sizing: border-box;
    float: left;
    width: 320px;
}

.menu h2 {
    width: 260px;
    margin-top: 0px;
    text-align: center;
    margin-right: 0;
}
