/* Base styles */
body {
    font-family: sans-serif;
}

a {
    color: #187FED;
}

a:hover, a.active {
    text-decoration: none;
}


/* Slideshow */
#wrapper {
    width: 320px;
}

#container {
    padding: 20px;
    overflow: hidden;
}

#cartridge {
    width: 2000px;
    position: relative;
}


/* Menu nav */
#container dl {
    margin: 0 auto;
    padding-left: 0;
    margin-left: 0;
}

nav {
    text-align: center;
}

nav ul {
    padding-left: 0;
    width: 320px;
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
}


/* Menu */
.restaurant-title {
    color: #18A6ED;
}

.dish-title {
    line-height: 30px;
    font-weight: bold;
}

.dish-desc {
    width: 250px;
}

.menu {
    box-sizing: border-box;
    float: left;
    width: 320px;
}

.menu h2 {
    width: 260px;
    margin-top: 0px;
    text-align: center;
    margin-right: 0;
}

/* Options */
